*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Mercury Display Roman','Times New Roman',serif; */
}
a{
  text-decoration: none;
}
body{
  background-color: rgb(247,247,247);
  -webkit-tap-highlight-color: transparent;
}
p{
  margin: 1.5rem 0;
  font-size: 18px;
  color: rgb(92, 91, 91);
}
h1{
  color: #343a40;
}
 html{
  scroll-behavior: smooth;
 }
